body {
    font-family: poppins;
  }

.innerBody{
    padding-left: 10%;
    padding-right: 10%;
}

header{
    height: 100px;
    position: sticky;
    top: 0px;
    background-color: #278b9f;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
}

h1{

    margin-block-start: 1em;
    margin-block-end: 0.2em;
}

h2, h3, p{
    margin-block-start: .2em;
    margin-block-end: 0.2em;
}

.section1{
    padding-left: 20%;
    padding-right:20%;
}

.button{
    padding: 14px 28px;
    border: 2px solid #278b9f;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: #278b9f;
    font-size: 20px;
}

.button:hover{
    padding: 14px 28px;
    background-color: #278b9f;
    border-radius: 10px;
    color:white;
    font-size: 20px;
}

#demo{
}

img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: contain;
}

.column {
    float: left;
    width: 45%;
    margin-left: 5%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
